@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");

html {
  background: linear-gradient(228.67deg, #C5F4FF 20.66%, #BBFFD6 89.56%);
  background-repeat: no-repeat;
  background-size: 4000px 4000px;
}

body {
  font-family: "Montserrat", san-serif;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;

  display: flex;
  align-content: space-around;
  flex-direction: column;

  width: 60%;
  height: 100vh;
  margin: auto;
  background: white;
}

img {
  margin: auto;
  height: 50vh;
}

#getstarted {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  background: #7DFFA2;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  height: 10vh;
  width: 30vw;
  margin-bottom: 10vh;
}

a {
  text-decoration: none;
  color: white;
}
