@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");

html {
  background: linear-gradient(228.67deg, #C5F4FF 20.66%, #BBFFD6 89.56%);
  background-repeat: no-repeat;
  background-size: 3000px 3000px;
}

body {
  font-family: "Montserrat", san-serif;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 60%;
  height: 100%;
  margin: auto;
  padding-bottom: 20px;
  background: white;
}

img {
  margin: auto;
  margin-top: 50px;
  height: 400px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 70%;
}

#interests {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#interests div {
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
}

#interests div p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  margin: 10px;
}

.selected {
  background: #54C1FF;
}

.notSelected {
  background: #C4C4C4;
}

#bars {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content:space-between;
  flex-direction: column;
  margin: auto;
}

#getstarted {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  background: #7DFFA2;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  height: 100px;
  width: 400px;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 10px;
}

.interest {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #7DFFA2;

}
